body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 420px;
  
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top:0;
  
  z-index:1000;
}

h2{
  padding-left:10px;
  color:#0B2027;
}

.back-arrow {
  font-size: 20px; /* Adjust size as needed */
  padding-left :6px;
  padding-bottom:16px;
  padding-top: 13px;
  cursor: pointer;
}

h3{
  padding-top:10px;
}


.back-arrow:hover {
  color: #000; /* Change color on hover */
}


.exercise-container {
   /* Adjust as needed */
  text-align: center;
}

.gif-container {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}

.exercise-gif {
  max-width: 300px;
  max-height: 400px;
}



.additional-text p {
  margin-left: 10px;
   margin-top: 20px; 
  margin: 50px auto;
   width:370px;
}

button {
  margin: 0 5px;
}
.stopwatch-container{
  padding-top:100px;
}
/* (B) CONTAINER */
#stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height:100px;
  margin: 50px auto; /* Center the stopwatch vertically */
   margin-top: -20px; 
  padding: 20px;
  background-color: #fff; /* White container background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.time-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#storedDataDisplay{
  padding: 6px;
}







/* (C) TIME */
#sw-time {
  width: 100%;
  padding: 5px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333; /* Dark text color */
}

/* (D) BUTTONS */
#sw-rst, #sw-go {
  width: 40%;
  cursor: pointer;
  padding: 15px 0;
  border: 0;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  /* Add some spacing between buttons */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

#sw-rst {
  background-color: #274954; /* Red color for reset button */
  margin-left: 100px; 
  margin-top: 10px; 
}

#sw-go {
  background-color: #2ecc71; /* Green color for start button */
  margin-top: -47px; 
  margin-right: 100px; 
}

#sw-go:disabled {
  background-color: #bdc3c7; /* Light gray for disabled state */
  cursor: not-allowed;
}

#res{
  width: 40%;
  cursor: pointer;
  padding: 15px 0;
  border: 0;
  color: #12282f;
  font-size: 15px;
  text-transform: uppercase;
  /* Add some spacing between buttons */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#res:hover{
  background-color: #5fa1b7; /* Red color for reset button */
 
}


.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: auto;
   justify-content: center;
  }
.slideshow-container h3{
   text-align: center;
}
  .slide {
    display: none;
  }

  .slide img {
    width: 250px;
    height: 200px;
   display: block;
  margin: 0 auto;
   
    border-radius: 10px;
  }

  
  .slide-caption {
    text-align: center;
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
    margin: 0 auto;
     padding-top:15px;
    width:380px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
   
    color: black;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }