html{
background:url('../images/403b57cc8365c9ded86faed82638f53f.jpg')no-repeat;
 background-size: cover;
   height:100%;
   background-color: #000;
   background-attachment:fixed;
   text-align: center;
}
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .centered-content {
            text-align: center;
            margin-left: 20%;
        }
            .image2 {
      position: absolute;
      top: 35%; /* Adjust the percentage to position the second image */
      right: 150px;
      height: 200px;
      width: 200px;
      transform: translate(0, -50%);
    }

h1 {

text-align:center;
 top:50%;
   left:50%
}
h1 span {
    background-color: Thistle;
}
h2 {
 text-align:center
}

h2 span {
    background-color: LightSkyBlue;
}
h3{
 color: Green;
}
