<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weight Gain Diet</title>
  <link rel="stylesheet" href="../static/css/GMdietcss.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
  <div class="container">
    <header class="sticky-header">
     <div class="back-arrow"> <a href="homehtml.html">&#10094;</a></div>
      <h2>Gain Muscle Diet</h2>
    </header>
    <div class="card-container">
      <div class="card">
        <h3>Breakfast</h3>
        <p><b>Milk , Banana -</b> plays a        
          vital role in weight   
          gaining process<br>
          <b>Dry fruits 
            Eggs ,Bread
            Wheat, Carbohydrates-  </b>   Roti, Idli, Dosa, Poha, etc
    </p>
      </div>
      <div class="card">
        <h3>Lunch</h3>
        <p><b>Wholegrains -</b> Rice,
            Millets, Barley       
          <b>Fiber -</b> Carrot, Peas,
            Leafy  vegetables,
            etc. <br>
            <b>Protein - </b>Meat,Fish, soy                
            chunks, Dal 
      
       
    
    </p>
      </div>
      <div class="card">
        <h3>Dinner</h3>
        <p>Roti, Parotta, 
      Brown rice        
      With vegetable curry in
     a sufficient quantity
     (better to take a bit
     more than regular)
       Yogurt or oats milk
    
    </p>
      </div>
      <div class="card">
        <h3>Added tips</h3>
        <p><b>Workout:</b> Exercising plays a crucial role in muscle gaining process.
         <br><b> Protein-Rich Snacks: </b>Include protein-rich snacks in your diet, such as Greek yogurt, cottage cheese, protein bars, or a smoothie with protein powder.
          <br><b>Limit Processed Foods: </b>Minimize processed foods, which are often high in unhealthy fats, sugar, and sodium.
          
    </p>
      </div>
    </div>
  </div>
</body>
</html>
