<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
<link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <div>
        <div>
    <h1>  Here is your Fittness update</h1>
  </div>
  <form action='./predict' method="post">

        <div>
            <h2 ><span>Grade : {{pred}}</span></h2>
       </div>
      <h3>FOR BETTER HEALTH & FITNESS TIPS</h3>
    <p><a href="https://fit-up.cyclic.app/">Click here....!</a></p>

  </form>
    </div>

<div class="container">
  <img src="Screenshot_20231118_163541_Chrome.jpg"  z-index="9999" class="image2">
</div>
</body>
</html>