<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<div id="contact-form">
  <div>
    <h1>FIT UP - Innovating Health and Fitness</h1>
    <h4><marquee speed="80">KNOW YOUR FITNESS GRADE</marquee></h4>
  </div>


      <form action='./predict' method="post">
      <div>
          <label for="age">
            <span class="required">AGE: *</span>
            <input type="number" id="age" name="age" value="" placeholder="Your age.." required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>
      <div class="gender">
          <label for="gender">
            <span class="required">Gender: *</span></label>
             <br>
            <select name="gender" value="gender" id="gender">
                <!--<option value="" disabled selected hidden>Select</option>-->
                <option value="M" >Male</option>
                <option value="F">Female</option>
            </select>

      </div>
      <div>
          <label for="height_cm">
            <span class="required">Height(cm): *</span>
            <input type="number" name="height_cm" placeholder="Enter your height(cm)" min="140" max="200" step="0.1" required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>

     <div>
          <label for="weight_kg">
            <span class="required">Weight(kg): *</span>
            <input type="number" name="weight_kg" placeholder="Enter your Weight(kg)" min="30" max="150" step="0.1" required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>
         <div>
          <label for="body fat_%">
            <span class="required">Body fat%: * <a style="color:#fff" href="https://www.calculator.net/body-fat-calculator.html?ctype=metric&csex=f&cage=20&cweightlbs=152&cheightfeet=5&cheightinch=10.5&cneckfeet=1&cneckinch=7.5&cwaistfeet=3&cwaistinch=1.5&chipfeet=2&chipinch=10.5&cweightkgs=40&cheightmeter=157&cneckmeter=31&cwaistmeter=61&chipmeter=81&x=Calculate"> CLICK HERE </a></span>

            <input type="number" name="body fat_%" placeholder="Your body fat %" min="0" max="50" step="0.1" required="required" tabindex="1" autofocus="autofocus" />
          </label>

      </div>



      <div>
          <label for="diastolic">
            <span class="required">Diastolic (Low BP): *</span>
            <input type="number" name="diastolic" placeholder="Your diastolic" min="40" max="100" step="1" required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>

     <div>
          <label for="systolic">
            <span class="required">Systolic (High BP): *</span>
            <input type="number" name="systolic" placeholder="Your systolic" min="80" max="" step="1" required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>
      <div>
          <label for="sit-ups counts">
            <span class="required">Sit-ups counts: </span>
            <input type="number" name="sit-ups counts" placeholder="Enter sit-ups counts based on capability else 0" min="0" required="required" max="150" step="1"  tabindex="1" autofocus="autofocus" />
          </label>
      </div>
     <div>
          <label for="Regular Exercise">
            <span class="required">Regular Exercise: *</span>
            <input type="number" name="Regular Exercise" placeholder="Select 1 if regular else 0..." min="0" max="1" step="0.1" required="required" tabindex="1" autofocus="autofocus" />
          </label>
      </div>



      <div>
     <a href="index1.html">
          <button name="submit" type="submit" id="submit" >SUBMIT</button>
        </a>
      </div>


</form>
  </div>

</html>