<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
  <div class="container">
        <div>
    <h4>  Here is your Fitness Grade</h4>
  </div>
  
  <form action='./predict' method="post">

        <div>
            <h2><span>Grade : {{pred}} </span></h2>
       </div>
    <!--   <ul>
        {% set input_names = ['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'Body fat(%)', 'Diastolic (Low BP)', 'Systolic (High BP)', 'Sit-ups counts', 'Regular Exercise'] %}
        {% for i in range(form_data|length-1) %}
         <h3> <li>{{input_names[i] }}: {{ form_data[i] }}</li></h3>
        {% endfor %}
      </ul>-->
      <table>
        <thead>
          
        </thead>
        <tbody>
          {% for i in range(form_data|length-1) %}
            <tr>
              <td>{{ input_names[i] }}</td>
              <td>{{ form_data[i] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>FOR BETTER HEALTH & FITNESS TIPS CLICK NEXT</h3>

  </form>
    
  <a href="homehtml.html"><button>Next</button></a>

  </div>
   </div>
  
</body>
</html>
