<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weight Loss Diet</title>
  <link rel="stylesheet" href="../static/css/LWdietcss.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
  <div class="container">
    <header class="sticky-header">
     <div class="back-arrow"> <a href="homehtml.html">&#10094;</a></div>
      <h2>Weight Loss Diet</h2>
    </header>
    <div class="card-container">
      <div class="card">
        <h3>Breakfast</h3>
        <p><b>Wheat, Carbohydrates-</b> Roti, Idli,
        Dosa, Poha, etc<br>
          <b>Fruits -</b>  Banana,   
         Orange, apple, melon, 
         grapes
        Oats , Milk
    </p>
      </div>
      <div class="card">
        <h3>Lunch</h3>
        <p><b>Wholegrains -</b> Rice,
            Millets, Barley       
          <b>Fiber -</b> Carrot, Peas,
            Leafy  vegetables,
            etc.
      Other vegetables in a sufficient quantity
       
    
    </p>
      </div>
      <div class="card">
        <h3>Dinner</h3>
        <p>Roti, Parotta, 
      Brown rice        
      With vegetable curry in
     a sufficient quantity
     (better to take a bit
     more than regular)
       Fruits or oats milk
    
    </p>
      </div>
      <div class="card">
        <h3>Added tips</h3>
        <p><b>Drink water: </b> Stay hydrated by drinking water throughout the day. Sometimes, thirst is mistaken for hunger.
          <br><b>Don't skip meals: </b> Eat regular, balanced meals to avoid overeating later in the day.
        <br><b>Stay active: </b> Include regular exercise in your routine, aiming for a mix of cardio and strength training.
    
    </p>
      </div>
    </div>
  </div>
</body>
</html>
